/*
For animation effect using CSS3
*/
/* 
    Created on : Sep 22, 2014
    Author     : Subhajit
    Contact    : art.subhajit@gmail.com // for your advice and suggestions 
*/
/*=======================================
------------ wheel selector --------------- 
=========================================*/
.wheel-first { color: #d5d5d5 !important; font:normal 14px/42px "Regular" !important;}
.wheel-second { color: #b3b3b5 !important; font:normal 14px/42px "Regular" !important;}
.wheel-normal { color: #333333 !important; font:normal 14px/42px "Regular" !important;}